body {
    color: #333;
    font-family: Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    margin: 0;
    padding: 0;
    background-color: white;
}
/* couleurs */
.contour {
    border: 1px solid #120202;
    border-radius: 5px;
    margin: 10px;
    padding: 10px;
} 
.imgProfil{
    width: 20vh;
    height: 20vh;
}

.img-fluid{
    width: 20vh;
    height: 20vh;
}